.loading {
    text-align: center;
    font-size: 1.5em;
}

.article-card-container {
    border: solid 1px black;
    box-shadow: 3px 3px 3px grey;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "authorInfo . . upvote"
        "title title title title"
        "body body body body"
        "voteCount . . date";
    border-radius: 16px;
    padding: 1rem;
    background-color: silver;
}

.btn-upvote {
    grid-area: upvote;
    height: 3em;
    width: 6em;
    background-color: white;
    text-transform: uppercase;
    justify-self: end;
}

.btn-upvote-clicked {
    grid-area: upvote;
    height: 3em;
    width: 6em;
    background-color: green;
    text-transform: uppercase;
    justify-self: end;
}


.article-card-author-info {
    grid-area: authorInfo;
    display: flex;
    flex-direction: column;
    height: 5rem;
    position: relative;
    align-items: center;
    padding: 0.3rem 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    border-radius: 16px;
    box-shadow: 1px 1px 3px grey;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
}

.article-author-avatar {
    height: 3rem;
    object-fit: contain;
}

.article-card-author {
    font-size: 1rem;
    text-align: center;
    margin-block: 0;
}

.article-card-title {
    grid-area: title;
    justify-self: center;
    margin-block: 0;
    align-self: flex-end;
    max-width: 90%;
    font-weight: bolder;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 1px 1px 3px grey;
    
}

.article-card-body {
    grid-area: body;
    padding: 0 1rem;
    border-radius: 16px;
    margin: 0.3rem 0.3rem;
    margin-top: 0.6rem;
    padding: 1rem;
    box-shadow: 1px 1px 3px grey;
    background-color: white;
}

.article-card-vote-count {
    grid-area: voteCount;
    justify-self: center;
    border-radius: 16px;
    box-shadow: 1px 1px 3px grey;
    background-color: white;
    padding: 0 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.article-card-date {
    grid-area: date;
    justify-self: center;
    border-radius: 16px;
    box-shadow: 1px 1px 3px grey;
    background-color: white;
    padding: 0 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
